.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

    //Media Query for screen
    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;

    //Media Query for screen
    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap; //to move the last item down when it doesn't have enough space.        
        align-content: space-around; // to control the space between rows making the searching bar center.
        height: 11rem;
    }
}

//THE CONTAINER THAT COMPOUSE FOR THE "sidebar" AND "hotel-view"
.content {
    display: flex;

    //Media Query for screen
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;
    flex: 1;    
}

.detail {
    font-size: 1.4rem;
    display: flex;     

    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    //Media Query for screen
    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    //Media Query for screen
    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {    
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    //Media Query for screen
    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }
    
    //Media Query for screen
    @media only screen and (max-width: $bp-small) {
        margin-right: 0; // to delete the margin-right 3rem from the description section
        margin-bottom: 3rem;
    }
}

.user-reviews {    
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}